*{
    font-family: 'Abril Fatface', cursive;
font-family: 'Rubik Gemstones', cursive;
font-family: 'Work Sans', sans-serif;
}
/* share btn */
.btn-parmanet{
    background-color: #FF900E;
    padding: 20px 25px;
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-weight: 700; 
    text-align: center; 
}
nav ul{
    display: flex;   
}
nav li{
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem; 
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-continer{
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #131313;
}
.banner-discraption{
    color: #727272;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}
main{
   max-width: 1200px;
   margin: 30px auto;
}
.team-continer{
    display: flex;
    align-items: center;
    
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 10px;
    
}
.team-contain{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title{
    font-size: 3rem;
    color: #727272;
    font-weight: 500; 
}
.team-title .list{
    color: #131313;
    font-weight: 500;
}
.team-title .team-f{
    color: #FF900E;
}
.team-discraption{
    color: #727272;
    padding-bottom: 10px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border: 1px solid #FF900E;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
.facts{
    max-width: 500px; 
}
.Facts h3{
    color: #131313;
    font-size: 2.7rem; 
    margin-top: 10px; 
    margin-bottom: 10px;
}
.facts p{
    color:#727272; 
     
}
.facts-card-container .card h3{
    color: #727272;
    font-size: 1.3rem;
    font-weight: 600;
}
.facts-card-container .card p{
    color: #727272;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;  
}
.sponser{
    text-align: center;
}
.sponser-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}










/* mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 2px 5px;
    }
    nav,
    .team-continer ,.facts-card-container {
        flex-direction: column;
    }  
    .team-img{
        grid-template-columns: repeat(1,1fr); 
    }
    .team-contain {
        padding: 5px 7px;
}
.facts-card-container{
    gap: 10px;
}
/* teblen divec */
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 20px 100px;
    }
    .team-continer  {
        flex-direction: column;
    
}
